.generic-section{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.generic-section .countainer h3{
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: capitalize;
   
}
.generic-section .countainer hr{
    width: 170px;
    border-color: white;
    background-color: white;
    margin-bottom: 30px;
}
.generic-section .countainer .imge img{
   min-width: 100%;
   margin-bottom:40px;
}
.generic-section .countainer p{
    color: white;
    line-height: 1.3;
    font-size: 20px;
}
@media (max-width:767px){
    .generic-section .countainer .imge img{
        max-width: 100%;
     }
}